version: '3.8'
services:
  db:
    container_name: timescale-db
    image: timescale/timescaledb-ha:pg14-latest
    environment:
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=portfolio
    ports:
      - "5432:5432"
    volumes:
      - ./db/cash.sql:/docker-entrypoint-initdb.d/cash.sql
      
  application:
    container_name: application
    build:
      context: application
    tty: true
    volumes:
      - ./:/portfolio-tracker
  grafana:
    container_name: grafana-portfolio
    image: grafana/grafana-oss:latest
    ports:
      - "3000:3000"